# Define git attributes per path
# https://git-scm.com/docs/gitattributes

# Exclude unneccessary files from release
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.phpcsfixer.config.php export-ignore
/.lintstagedrc.js export-ignore
/.husky export-ignore
/vendor export-ignore
/pnpm-lock.yaml export-ignore
/package.json export-ignore
/jsconfig.json export-ignore
/scoper.inc.php export-ignore
/TODO export-ignore
/php-scoper.phar export-ignore
/scoped export-ignore
/composer-actions export-ignore
/TODO export-ignore
/phpunit-wp.xml.dist export-ignore
/phpunit.xml.dist export-ignore
/tests export-ignore
/.wp-env.json export-ignore